<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Arrival Date</th>
    <th>Departure Date</th>
    <th>Notes</th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%=h booking.ArrivalDate %></td>
    <td><%=h booking.DepartureDate %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% if booking.booking_notes.count() > 0 -%></td>
  <tr>
    <td>Notes:</td>
    <td colspan="4">
    <% booking.booking_notes.each do |note| -%>
      <p>
        <%=h note.note %>
      </p>
    <% end %>
    </td>
  <tr>
    <td></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New booking', new_booking_path %>