<p>
  <b>Arrival Date:</b>
  <%=h @booking.ArrivalDate %>
</p>

<p>
  <b>Departure Date:</b>
  <%=h @booking.DepartureDate %>
</p>

Created by <%=h @booking.author.firstname %> @ <%=h @booking.created_at %>
<% if @booking.updated_at != @booking.created_at %>
<br/>
Last modified by <%=h @booking.latest_editor.firstname %> @ <%=h @booking.updated_at %>
<% end %>

<p>
  <b>Notes:</b>
<% for note in @notes -%>
  <p>
    <%=h note.note %> <em>- by <%=h note.author.firstname %></em>
  </p>
<% end %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>