<p>
  <b>Arrival Date:</b>
  <%=h @booking.ArrivalDate %>
</p>

<p>
  <b>Departure Date:</b>
  <%=h @booking.DepartureDate %>
</p>

<p>
  <b>Notes:</b>
<% for note in @notes -%>
  <p>
    <%=h note.note %>
  </p>
<% end %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>